.split_fields_form
  .left_main_fields
    .field
      = f.text_field :name, placeholder: "Name"
    .field
      = f.label :body
      = f.text_area :body, class: "editable"
    .field
      = f.label :image
      = f.file_field :image
  .right_sub_fields
    .field
      = f.text_field :page_title, placeholder: "Page Title"
    .field
      = f.text_field :url_alias, placeholder: "URL Alias"
    .field
      = f.label :meta_description
      = f.text_area :meta_description
    .field.inline_check_box
      = f.check_box :published
      = f.label :published
