#admin_header
  - if params[:site_id]
    .admin_secondary_links
      %ul
        %li
          = link_to new_admin_site_page_path @site do
            %i.fa.fa-plus
            New Page
    %h1= "Listing Pages for #{@site.name}"
  - else
    .admin_secondary_links
      %ul
        %li
          = link_to new_admin_page_path do
            %i.fa.fa-plus
            New Page
    %h1 Listing Pages


#admin_table



  %table
    %thead
      %tr
        %th Name
        %th Published
        %th
        %th
        %th

    %tbody
      - @pages.each do |page|
        %tr
          %td= page.name
          %td= page.published ? "Yes" : "No"
          %td= page.site_id
          %td= link_to 'Show', page
          %td= link_to 'Edit', [:edit, :admin, page]
          %td= link_to 'Destroy', [:admin, page], :method => :delete, :data => { :confirm => 'Are you sure?' }