- provide :title, "Content"
= render 'section_bar'


%table
  %thead
    %tr
      %th Name
      %th Published
      %th
      %th
      %th

  %tbody
    - @pages.each do |page|
      %tr{class: cycle("odd", "even")}
        %td= page.name
        %td= page.published ? "Yes" : "No"
        %td= page.site.try(:name)
        %td.admin_index_action= link_to 'Edit', edit_admin_page_path(page.id)
        %td.admin_index_action= link_to 'Destroy', [:admin, page], :method => :delete, :data => { :confirm => 'Are you sure?' }