= link_to "Pages", admin_pages_path
= link_to "Products", admin_products_path
= link_to "Categories", admin_categories_path
= link_to "Users", admin_users_path
= link_to "Orders", admin_orders_path
= link_to "Settings", admin_settings_path
= link_to "All Sites", admin_sites_path