- provide :title, "Orders"
= render 'section_bar'

%table
  %thead
    %tr
      %th ID
      %th Amount
      %th Purchased Date
      %th

  %tbody
    - @orders.each do |order|
      %tr{class: cycle("odd", "even")}
        %td= order.id
        %td= order.amount
        %td= order.purchased_at.try{strftime("%d %b. %Y")}
        %td= link_to "Show", manage_admin_orders_path(order_id: order)