#admin_order_page
  #order_form
    %h1= "Order #{@order.id}"
    #order_summary
      .info_block
        %h4 Billing Address
        = formatted_address @order.billing_address
      .info_block
        %h4 Shipping Address
        = formatted_address @order.shipping_address
      .info_block
        %table
          %thead
            %tr
              %th Name
              %th Quantity
              %th Price
          - @order.cart_items.each do |item|
            %tr
              %td= item.product.name
              %td= item.quantity
              %td= item.product.price
          %tr
            %td Sub Total
            %td
            %td= number_to_currency @order.sub_total, locale: :en
          %tr
            %td Shipping
            %td
            %td= number_to_currency @order.shipping, locale: :en
          %tr
            %td Total
            %td
            %td= number_to_currency @order.total, locale: :en