#order_page
  #order_form
    %h1 Your order: Summary
    #order_summary
      .info_block
        %h4 Billing Address
        = formatted_address @order.billing_address
      .info_block
        %h4 Shipping Address
        = formatted_address @order.shipping_address
      .info_block
        %h4 Order
        %table
          - @order.cart_items.each do |item|
            %tr.product_product_row
              %td= item.product.name
              %td= item.quantity
              %td= number_to_currency item.product.price, locale: :en
          %tr
            %td Sub Total
            %td
            %td= number_to_currency @order.sub_total, locale: :en
          %tr
            %td Shipping
            %td
            %td= number_to_currency @order.shipping, locale: :en
          %tr.product_total_row
            %td Total
            %td
            %td= number_to_currency @order.total, locale: :en

    /= form_for @order do |f|
    /  - if @order.errors.any?
    /    #error_explanation
    /      %h2= "#{pluralize(@or/der.errors.count, "error")} prohibited this order from being saved:"
    /      %ul
    /        - @order.errors.full_messages.each do |msg|
    /          %li= msg
    /  .field
    /    = f.label :payment_type
    /    = f.select :payment_type, Order::PAYMENT_TYPES
    /  .actions

    /    = f.submit 'Back', name: :to_checkout
    = link_to(image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), order_express_checkout_path(@order))
  #cart_summary
    = render 'carts/cart_summary'