#order_page
  #order_form
    %h1 Your order: Shipping
    = form_for @order do |f|
      - if @order.errors.any?
        #error_explanation
          %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
          %ul
            - @order.errors.full_messages.each do |msg|
              %li= msg

      .field
        = f.label :shipping_type
        = f.select :shipping_type, Order::SHIPPING_TYPES

      .actions
        = f.submit 'Proceed', name: :to_summary
        = f.submit 'Back', name: :to_checkout

  #cart_summary
    = render 'carts/cart_summary'