= form_for @order do |f|
  - if @order.errors.any? 
    = render 'layouts/errors', object: f.object

  .field
    = f.label :name, "Name"
    = f.text_field :name, value: order_name(@order)

  .field
    = f.label :email, "Email"
    = f.text_field :email, value: order_email(@order)


  - if signed_in? && current_user.addresses.any?

    .field   
      = f.label :use_saved_billing_address do
        = f.check_box :use_saved_billing_address
        %span Use Saved Address

    .field
      = f.label :shipping_address_id
      = f.number_field :shipping_address_id

  .field
    = f.fields_for :billing_address do |ff|
      = render 'address_fields', f: ff

  .field   
    = f.check_box :ship_to_billing_address, checked: true, class: "checked_toggle_hide"
    = f.label :ship_to_billing_address, "Deliver to Shipping Address"


    - if signed_in? && current_user.addresses.any?
    
      .field   
        = f.label :use_saved_shipping_address do
          = f.check_box :use_saved_shipping_address
          %span Use Saved Address

      .field
        = f.label :shipping_address_id
        = f.number_field :shipping_address_id

    .field
      = f.fields_for :shipping_address do |ff|
        = render 'address_fields', f: ff

  .actions
    = f.submit 'Submit', name: :to_summary
