= provide :page_title, @page.page_title
= provide :meta_description, @page.meta_description
- if @page.banner.path.present?
  - content_for :highlights do
    #banner{style: "background-image: url(#{@page.banner});"}

.body_section
  = raw @page.body

- if shop_site? && @page.name == 'Home Page'
  #product_grid_container
    #product_grid
      - Product.limit(12).order("RANDOM()").each do |product|
        .product_grid_item_container
          = render 'products/teaser', product: product