#cart_page
  %h1 Your Cart
  - @cart_items.each do |cart_item|
    .cart_item
      .left_cart_item
        = image_tag cart_item.cart_image
      .right_cart_item
        %h3= "#{cart_item.product.name}"
        %h4= number_to_currency cart_item.product.price, locale: :en
        = form_for cart_item do |f|
          .field
            = f.label :quantity
            = f.text_field :quantity
          .actions
            = f.submit "Update"


  .cart_total_price
    = "Total: #{number_to_currency @cart.total_price, locale: :en}"
  .cart_progress_buttons
    = button_to "Checkout", new_order_path, method: :get