%h1 CART
%ul
  - @cart_items.each do |cart_item|
    %li
      NAME:
      %h3= "#{cart_item.product.name}"
      %br
      QTY: 
      = form_for cart_item do |f|
        = f.text_field :quantity
        = f.submit "Update"
      %br
      PR:
      = cart_item.product.price
      %br
      toatssPRICE: 
      = cart_item.total_price
        
      

= button_to "Empty Cart", @cart, method: :delete, data: { confirm: "Are you sure?" }
= button_to "Checkout", new_order_path, method: :get