- provide :title, "Categories"
= render 'section_bar'

%table
  %thead
    %tr
      %th Name
      %th Children
      %th Products
      %th
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr{class: cycle("odd", "even")}
        %td= category.name
        %td
          - category.children.each do |child|
            = child.name
        %td= category.products.count
        %td.admin_index_action= link_to 'Show', category
        %td.admin_index_action= link_to 'Edit', edit_admin_category_path(category)
        %td.admin_index_action= link_to 'Destroy', [:admin, category], :method => :delete, :data => { :confirm => 'Are you sure?' }