- provide :title, "Products"
= render 'section_bar'
%table
  %thead
    %tr
      %th Name
      %th Price
      %th Categories
      %th
      %th
      %th
      %th Send Ebay

  %tbody
    - @products.each do |product|
      %tr{class: cycle("odd", "even")}
        %td= product.name
        %td= number_to_currency product.unit_price, locale: :en
        %td
          - product.categories.each do |c|
            = link_to c.name, c
        %td.admin_index_action= link_to 'Show', product
        %td.admin_index_action= link_to 'Edit', [:edit, :admin, product]
        %td.admin_index_action= link_to 'Destroy', [:admin, product], :method => :delete, :data => { :confirm => 'Are you sure?' }
        %td.admin_index_action= link_to 'Send to Ebay', ebay_admin_product_path(product)

= will_paginate @products