= render "breadcrumb"
#product_content_container
  #product_content
    #left_product_panel
      #main_image
        = image_tag(@product.primary_image)
      #alternate_images
        - @images.each do |image|
          .alternate_image
            = image_tag(image.image)
    #right_product_panel
      - if session[:editmode]
        = link_to "Edit", edit_product_path(@product), remote: true, class: "edit_link"
      %h1= @product.name
      .product_code
        = @product.mpn
      .product_price 
        = number_to_currency @product.price, locale: :en
      .product_description_preview
        = truncate @product.body.gsub("h2", "p"), length: 250, escape: false, omission: "... #{link_to('more', '#description')}"

      = button_to "Add to Cart", add_to_cart_path(product_id: @product)

      

  #product_tab_area
    .tab_content
      = @product.body.try(:html_safe)