= render_breadcrumbs @product.category, link_to(@product.name, @product) if @product.categories.any?

#product_content_container
  #product_content
    #product_image_panel
      #main_image
        = image_tag(@product.primary_image.standard) if @product.primary_image
      #alternate_images
        - @product.images.each do |image|
          .alternate_image
            = image_tag image.thumbnail, data: {large: image.standard.url}
    #product_info_panel
      %h1= @product.name
      .product_code
        = @product.mpn
      .product_price 
        = number_to_currency @product.unit_price
      .product_description_preview
        = raw @product.body

      .product_actions
        = form_for OrderItem.new, url: carts_items_path(product_id: @product.id) do |f|
          .field
            = f.label :quantity
            = f.select :quantity, 1..20
          .actions
            = f.submit "Add to Cart"      

  #product_tab_area
    .tab_content
      = @product.body.try(:html_safe)

