.field
  = f.label :name
  = f.text_field :name
.field
  = f.label :path
  - if @object.page
    = @object.page.name
  - else
    = f.text_field :path
.field
  - if params[:menu_type]
    = f.hidden_field :menu_type, value: params[:menu_type]
  - else
    = f.hidden_field :menu_type