- if shop_site?
  %h2.side_menu_heading= link_to 'Categories', categories_path
  %ul.side_menu_list
    - @site.categories.populated.each do |category|
      %li= link_to category.name, category
- else

  %ul.side_menu_list
    - if @site.category
      %li= link_to @site.category.name, category_url(@site.category, subdomain: :shop)
      - @site.category.children.each do |category|
        %li= link_to category.name, category_url(category, subdomain: :shop)

    - @site.pages.side_pages.each do |page|
      %li= link_to page.name, page