MY SESSION ID:
= session[:cart]
#site_switcher
  - Site.active.each do |site|
    = link_to site.name, root_url(subdomain: site.subdomain)
#main_header
  #logo 
    = link_to image_tag(@site.logo), root_path
  #header_menus
    #search_form
      = form_tag products_path, method: :get do 
        = text_field_tag :search, params[:search]
        = submit_tag "Search", name: nil
    #navigation_menu
      %ul
        %li Tel: 01379 677 699
        %li Email: sales@signsandprinting.co.uk

        - if signed_in?
          %li= link_to "Sign Out", logout_path, method: :delete
          %li= link_to "My Account", user_path(current_user)
        - else
          %li= link_to "Sign In", login_path

        - unless current_cart.empty?
          %li= link_to "#{pluralize(current_cart.amount_of_items, 'item')} in Cart", carts_path
        - else
          %li 0 items in cart
    #main_menu
      %ul
        %li= link_to "Home", root_path
        - @site.pages.each do |page|
          - if page.menu_item_name
            %li= link_to page.menu_item_name, page
        %li= link_to "Contact Us", enquiries_path
        - if signed_in_as_admin?
          %li= link_to "Admin", admin_sites_path



