#page_body.body_section
  %h1 Get in Touch
  %p If you need any help, then please get in touch.
  %p
    Signs and Print House 
    %br
    Thistledown Farm 
    %br
    Station Road 
    %br
    Tivetshall Saint Margaret 
    %br
    Norfolk 
    %br
    NR15 2DL Tel: 01379 677 699 
    %br
    sales@signsandprinting.co.uk


  = form_for @enquiry do |f|
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :email
      = f.text_field :email
    .field
      = f.label :body
      = f.text_area :body
    .actions
      = f.submit 'Send'
