#site_switcher
  - active_sites.each do |site|
    = link_to site.name, site.urls.first.url
#main_header
  #logo 
    = link_to image_tag(current_site.logo), root_path
  #header_menus
    #navigation_menu
      %ul
        %li Tel: 01379 677 699
        %li Email: sales@signsandprinting.co.uk
        = render_navigation_menu

        - if signed_in?
          %li= link_to "Sign Out", logout_path, method: :delete
          %li= link_to "My Account", user_path(current_user)
        - else
          %li= link_to "Sign In", login_path

        - if cart?
          %li= link_to "Cart", carts_path
        - else
          %li 0 items in cart
    #main_menu
      %ul
        %li= link_to "Home", root_path
        - current_site.main_menu_items.each do |menu|
          - if menu.page
            %li= link_to menu.name, menu.page
          - else
            %li= link_to menu.name, menu.path
        %li= link_to "Contact Us", enquiries_path
        - if signed_in_as_admin?
          %li= link_to "Admin", admin_sites_path



