!!!
%html
  %head
    %title Website
    = stylesheet_link_tag    'admin_application', media: 'screen'
    = stylesheet_link_tag    'print', media: 'print'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = javascript_include_tag Ckeditor.cdn_url
    %script{:src => "//use.typekit.net/qct6aqn.js"}
    :javascript
      try{Typekit.load();}catch(e){}
    :css 
      #{render 'common/site_styles.scss.erb'}

  %body{class: body_classes}
    #admin_page_wrapper
      #admin_sidebar
        = link_to image_tag('logo.png'), root_path, class: 'admin_logo_link'
        = render 'admin/admin_menu'
      #admin_page
        #admin_title_bar
          = yield :search
          %h1= yield :title
        #admin_nav_bar
          = yield :buttons
          .right_buttons
            = yield :right_buttons
        #admin_page_inner

          - flash.each do |k, v|
            %div{class: "alert alert-#{k}"}
              = v
          = yield


