!!!
%html
  %head
    %title Website
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %script{:src => "//use.typekit.net/qct6aqn.js"}
    :javascript
      try{Typekit.load();}catch(e){}
    :css 
      #{render 'sites/site_styles.scss.erb'}

  %body{class: body_classes}
    #page
      #page_wrapper
        %header#header
          = render 'layouts/header'
        - flash.each do |k, v|
          %div{class: "alert alert-#{k}"}
            = v
        - if content_for? :highlight
          #highlight
            = yield :highlight
        #content_wrapper
          - unless true
            THIS IS TO ESCAPE THE COLUMN PAGE IF NEED BE
          - else
            #layout_columns{class: "#{'single_sidebar' unless second_sidebar}"}
              - unless admin_section?
                .sidebar_column
                  - unless true
                    THIS IS TO RENDER ALTERNATES TO THE CATEGORY SIDEBAR
                  - else
                    = render 'layouts/site_categories_sidebar'
              .main_column
                = yield
              - if second_sidebar
                - unless admin_section?
                  .sidebar_column.second_sidebar
                    = current_site.second_sidebar.html_safe
        %footer#footer
          = render 'layouts/footer'
        - if signed_in_as_admin?
          = render "layouts/site_admin_bar"

