!!!
%html
  %head
    %title= page_title(yield :title)
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %script{:src => "//use.typekit.net/qct6aqn.js"}
    :javascript
      try{Typekit.load();}catch(e){}
    :scss 
      #{render 'common/site_styles.scss.erb'}
    %meta{:name => "description", :content => yield(:meta_description)}

  %body{class: body_classes}
    - if signed_in_as_admin?
      = render 'layouts/on_site_admin_bar'
    #page
      #page_wrapper
        %header#header
          = render 'common/header'
          - if content_for? :highlights
            #highlight
              = yield :highlights
        #content_wrapper
          #layout_columns
            .sidebar_column
              = render 'common/category_list'
            .main_column
              - if flash.any?
                .alert_container
                  - flash.each do |k, v|
                    .alert{class: "alert-#{k}"}
                      = v
              = yield
        %footer#footer
          = render 'common/footer'