#admin_header
  .admin_secondary_links
    %ul
      %li
        = link_to new_admin_site_path do
          %i.fa.fa-plus
          New Site
  %h1 Listing sites

#admin_table


  %table
    %thead
      %tr
        %th Name
        %th Settings
        %th Pages
        %th Categories
        %th Products
        %th Status

    %tbody
      - @sites.each do |site|
        %tr{class: cycle("odd", "even")}
          %td= site.name
          %td= link_to 'Settings', edit_admin_site_path(site)
          %td= link_to 'Pages', admin_site_pages_path(site)
          %td= link_to 'Categories', admin_site_categories_path(site)
          %td= link_to 'Products', admin_site_products_path(site)

          %td
            = link_to admin_site_toggle_status_path site do
              = site.active ? "Suspend" : "Go Live"
