#admin_header
  .admin_secondary_links
    %ul
      %li
        = link_to new_admin_site_path do
          %i.fa.fa-plus
          New Site
  %h1 Listing sites

#admin_table


  %table
    %thead
      %tr
        %th Name
        %th Main Menu
        %th Side Menu
        %th
        %th
        %th
        %th

    %tbody
      - @sites.each do |site|
        %tr
          %td= site.name
          %td= link_to 'main', "#{site.main_url}#{admin_site_main_menu_path(site)}"
          %td= link_to 'side', "#{site.main_url}#{admin_site_side_menu_path(site)}"
          %td= link_to 'Pages', "#{site.main_url}#{admin_site_pages_path(site)}"
          %td= link_to 'Edit', "#{site.main_url}#{edit_admin_site_path(site)}"
          %td= link_to 'Destroy', "#{site.main_url}#{[:admin, site]}", :method => :delete, :data => { :confirm => 'Are you sure?' }
          %td
            = link_to admin_site_toggle_status_path site do
              = site.active ? "Suspend" : "Go Live"
