#admin_header
  .admin_secondary_links
    %ul
      %li
        = link_to new_admin_site_menu_item_path(site_id: @site.id, menu_type: 2) do
          %i.fa.fa-plus
          New Menu Item
  %h1= "#{current_site.name} Side Menu Items"

#admin_table

  %table
    %thead
      %tr
        %th Name
        %th Path
        %th
        %th

    %tbody
      - @menu_items.each do |item|
        %tr
          %td= item.name
          %td= item.path
          %td= link_to 'Edit', [:edit, :admin, @site, item]
          %td= link_to 'Destroy', [:admin, @site, item], :method => :delete, :data => { :confirm => 'Are you sure?' }